1-imports + organização

In [ ]:

from pathlib import Path
import pandas as pd
import numpy as np


ROOT = Path.cwd().parents[1]  
DATA_DIR = ROOT / "data"

INPUT_FILE  = DATA_DIR / "clinical.csv"
OUTPUT_FILE = DATA_DIR / "clinical_cleaned.csv"

print("Raiz:", ROOT)
print("Entrada:", INPUT_FILE)
print("Saída:", OUTPUT_FILE)

Raiz: c:\AmbienteProgrmacao\Projetos\treinamento2\avalensurance-bia
Entrada: c:\AmbienteProgrmacao\Projetos\treinamento2\avalensurance-bia\data\clinical.csv
Saída: c:\AmbienteProgrmacao\Projetos\treinamento2\avalensurance-bia\data\clinical_cleaned.csv

2- lendo

In [2]:

df = pd.read_csv(INPUT_FILE)

print("Dimensões originais:", df.shape)
display(df.head())

Dimensões originais: (64800, 19)

,record_id,person_id,hypertension,diabetes,asthma,copd,cardiovascular_disease,cancer_history,kidney_disease,liver_disease,arthritis,mental_health,chronic_count,systolic_bp,diastolic_bp,ldl,hba1c,risk_score,is_high_risk
0,record_id_15635,64470,0,0,1,0,0,0,0,0,0,0,1,114.0,74.0,128.0,5.15,0.5934,0
1,record_id_18609,13405,0,0,0,1,0,0,0,0,1,0,2,118.0,75.0,92.6,4.73,0.5604,0
2,record_id_28693,26180,0,0,0,0,0,0,0,0,0,0,0,110.0,72.0,121.1,NaN,0.4505,0
3,record_id_54086,37875,1,0,0,0,0,0,0,0,0,1,2,127.0,75.0,55.9,5.29,0.6813,1
4,record_id_11096,5498,0,0,0,0,0,0,0,0,0,1,1,111.0,59.0,125.6,5.29,0.4066,0

3-limpa nulos

In [3]:

colunas_tratar = ["systolic_bp", "diastolic_bp", "ldl", "hba1c"]

# Contagem antes da limpeza
print("Nulos antes do tratamento:")
display(df[colunas_tratar].isnull().sum())

# Substitui nulos e strings vazias por "indisponivel"
for col in colunas_tratar:
    df[col] = df[col].replace("", np.nan)
    df[col] = df[col].fillna("indisponivel")

# Contagem após a limpeza
print("\nNulos após o tratamento:")
display(df[colunas_tratar].isnull().sum())

Nulos antes do tratamento:

systolic_bp     6416
diastolic_bp    6521
ldl             6461
hba1c           6509
dtype: int64

Nulos após o tratamento:

systolic_bp     0
diastolic_bp    0
ldl             0
hba1c           0
dtype: int64

4- ordenação e remoção por duplicadas

In [4]:


# Ordenar por person_id em ordem crescente
df = df.sort_values(by="person_id", ascending=True)

# Contar quantos IDs duplicados existem antes de remover
duplicados = df.duplicated(subset="person_id").sum()
print(f"Foram encontrados {duplicados} person_id(s) duplicado(s).")

# Remover duplicados mantendo o primeiro
df = df.drop_duplicates(subset="person_id", keep="first").reset_index(drop=True)

print("Dimensões após remoção de duplicados:", df.shape)

Foram encontrados 0 person_id(s) duplicado(s).
Dimensões após remoção de duplicados: (64800, 19)

5- exportação

In [5]:

df.to_csv(OUTPUT_FILE, index=False)
print(f"Arquivo salvo em: {OUTPUT_FILE}")


display(df.head())

Arquivo salvo em: c:\AmbienteProgrmacao\Projetos\treinamento2\avalensurance-bia\data\clinical_cleaned.csv

,record_id,person_id,hypertension,diabetes,asthma,copd,cardiovascular_disease,cancer_history,kidney_disease,liver_disease,arthritis,mental_health,chronic_count,systolic_bp,diastolic_bp,ldl,hba1c,risk_score,is_high_risk
0,record_id_36092,1,0,0,0,0,0,0,0,0,0,0,0,119.0,74.0,94.0,5.67,0.4066,0
1,record_id_45363,2,0,0,0,0,0,0,0,0,0,0,0,118.0,60.0,95.4,5.27,0.3846,0
2,record_id_64734,3,1,0,0,0,0,0,0,0,0,0,1,162.0,87.0,83.8,5.35,0.6374,1
3,record_id_43770,4,0,0,0,0,0,0,0,0,0,0,0,107.0,73.0,143.9,indisponivel,0.6813,1
4,record_id_61337,6,1,0,0,0,0,0,0,0,0,1,2,143.0,84.0,101.5,5.52,0.7692,1