1-imports e path

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np


ROOT = Path.cwd().parents[1]  
DATA_DIR = ROOT / "data"

INPUT_FILE  = DATA_DIR / "utilization.csv"
OUTPUT_FILE = DATA_DIR / "utilization_cleaned.csv"

print("Raiz:", ROOT)
print("Entrada:", INPUT_FILE)
print("Saída:", OUTPUT_FILE)

Raiz: /Users/augusto/Library/Mobile Documents/com~apple~CloudDocs/git/avalensurance-bia
Entrada: /Users/augusto/Library/Mobile Documents/com~apple~CloudDocs/git/avalensurance-bia/data/utilization.csv
Saída: /Users/augusto/Library/Mobile Documents/com~apple~CloudDocs/git/avalensurance-bia/data/utilization_cleaned.csv

2-lendo

In [2]:

df = pd.read_csv(INPUT_FILE)
print("Dimensões originais:", df.shape)
display(df.head())

Dimensões originais: (64800, 12)

,visit_id,person_id,visits_last_year,hospitalizations_last_3yrs,days_hospitalized_last_3yrs,medication_count,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,had_major_procedure
0,visit_id_13715,64470,3,0,0,2,1,0,3,0,1,0
1,visit_id_30336,13405,0,0,0,4,0,0,5,0,0,0
2,visit_id_53039,26180,2,0,0,0,0,0,2,0,1,0
3,visit_id_47919,37875,3,0,0,0,0,0,0,0,0,0
4,visit_id_56767,5498,3,0,0,3,0,0,0,0,0,0


3-Ordenar e remover duplicados de person_id

In [3]:

if "person_id" not in df.columns:
    raise KeyError("A coluna 'person_id' não existe no CSV de utilization.")

# Ordenar por person_id em ordem crescente
df = df.sort_values(by="person_id", ascending=True)

# Contar quantos IDs duplicados existem antes de remover
duplicados = df.duplicated(subset="person_id").sum()
print(f"Foram encontrados {duplicados} person_id(s) duplicado(s).")

# Remover duplicados mantendo o primeiro
df = df.drop_duplicates(subset="person_id", keep="first").reset_index(drop=True)

print("Dimensões após remoção de duplicados:", df.shape)
display(df.head())

Foram encontrados 0 person_id(s) duplicado(s).
Dimensões após remoção de duplicados: (64800, 12)

,visit_id,person_id,visits_last_year,hospitalizations_last_3yrs,days_hospitalized_last_3yrs,medication_count,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,had_major_procedure
0,visit_id_40611,1,2,0,0,0,2,0,1,0,0,0
1,visit_id_48818,2,1,0,0,0,0,0,0,0,0,0
2,visit_id_01246,3,2,0,0,2,0,0,1,0,0,0
3,visit_id_47786,4,0,0,0,1,0,0,0,1,2,0
4,visit_id_35905,6,2,0,0,1,0,0,1,0,0,0

4- Exportando

In [4]:

df.to_csv(OUTPUT_FILE, index=False)
print(f"Arquivo salvo com sucesso em: {OUTPUT_FILE}")

Arquivo salvo com sucesso em: /Users/augusto/Library/Mobile Documents/com~apple~CloudDocs/git/avalensurance-bia/data/utilization_cleaned.csv